<!DOCTYPE html>
<html lang="en">
<head>
  <title> About Myself</title>
</head>
<body>
  <h3>42 Coffee Cups Test Assigment</h3>
  <table>
    <tr>
      <td>Oleksandr</td>
      <td>Contacts</td>
    </tr>
    <tr>
      <td>Shchebyna</td>
      <td>Email: sanya071186@gmail.com</td>
    </tr>
    <tr>
      <td>07/11/1986</td>
      <td>Jabber: pock@jabber.ua<br>Skype: sanya071186</td>
    </tr>
    <tr>
      <td>Bio:</td>
      <td>Other Contacts</td>
    </tr>
    <tr>
      <td>I`m 29 year old.<br>I`m married and have a dughter</td>
      <td><a href="https://www.facebook.com/profile.php?id=100003368151652">Facebook</a><br><a href="https://vk.com/id69128840">Vk</td>
    </tr>

  </table>
</body>
</html>
