<!DOCTYPE html>
<html lang="en">
<head>
  <title> About Myself</title>
</head>
<body>
  <h3>42 Coffee Cups Test Assigment</h3>
  <table>
    <tr>
      <td>{{ my_data.first_name }}</td>
      <td>Contacts</td>
    </tr>
    <tr>
      <td>{{ my_data.second_name }}</td>
      <td>{{ my_data.email }}</td>
    </tr>
    <tr>
      <td>07/11/1986</td>
      <td>{{ my_data.jabber }}<br>{{ me_data.skype }}</td>
    </tr>
    <tr>
      <td>Bio:</td>
      <td>Other Contacts</td>
    </tr>
    <tr>
      <td>{{ my_data.biography }}</td>
      <td>{{ my_data.other_contacts }}</td>
    </tr>

  </table>
</body>
</html>
